@charset "UTF-8";

form{
    width:500px;
    margin:auto
}

input,textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13pt;
}

input:hover , textarea:hover{
    background-color: #dddddd;
}

legend{
    font-family: Arial, Helvetica, sans-serif;
    color:#888888;
    font-weight: bold;
    font-size:13pt;

}

fieldset{
    border-color: #cececece;
    margin:20pt;
}

fieldset#sexo{
    width: 150px;
}